@media screen and (max-width:1200px){
    
}
@media screen and (max-width:992px){
    #landingLeft{
        height: 100vh;
    }
    #landingRight{
        position: absolute;
        z-index: 0;
        bottom: 30px;
    }
    #imgSubContainer{
        text-align: end !important;
        position: relative;
        width: 85%;
        margin-left: 40px;
    }
    .hero-img{
        width: 85% !important;
        height: 715px !important;
        z-index: 0;
    }
}
@media screen and (max-width:768px){
    #landingLeft{
        #caption{
            position: absolute;
            z-index: 3;
        }
        #description{
            position: absolute;
            top: 50vh;
            z-index: 3;
        }
    }
    #landingRight{
        width: 96% !important;
    }
    .lg-nav{
        display: none !important;
    }
    .md-nav{
        display: block !important;
        div{
            position: relative;
            border-top: 2px solid rgba(0, 0, 0, 0.5);
            width: 22px;
            height: 9px;
            margin-top: 6px;
            transition: 1s;
            &::before{
                content: "";
                width: 22px;
                top: -9px;
                position: absolute;
                border-top: 2px solid rgba(0, 0, 0, 0.5);
                transition: 0.5s;
            }
            &::after{
                content: "";
                width: 22px;
                bottom: 0;
                position: absolute;
                border-top: 2px solid rgba(0, 0, 0, 0.5);
                transition: 0.5s;
            }
        }
        .close{
            border-top: none;
            transition: 1s;
            &::before{
                content: "";
                width: 25px;
                top: -1px;
                transform: rotate(40deg);
                transition: 0.5s;
            }
            &::after{
                content: "";
                width: 25px;
                bottom: 8px;
                transform: rotate(-40deg);
                transition: 0.5s;
            }
        }
    }
    #mdNav{
        position: absolute;
        top: 90px;
        right: 133px;
        background-color:white;
        transition: all 0.8s ease;
        border-radius: 2px;
        z-index: -1;
        ul{
            padding: 0;
            margin-bottom: 0 !important;
            text-align: center !important;
            list-style-type: none !important;
            display: block !important;
            #hLine{
                margin: auto;
                width: 80%;
                border-top: 0.1px solid rgba(black,0.3);
            }
        }
        
    }
    #downArrow{
        right: 83px !important;
        top: 100px !important;
    }
}
@media screen and (max-width:576px){
    #landingLeft{
        #caption{
            left: -25px !important;
        }
        #description{
            margin-left: 75px !important;
            top: 58vh;
        }
    }
    #logo{
        width: 25% !important;
    }
    #navList ul li {
        padding: 20px 15px !important;
    }
    #navBar{
        padding: 10px 0px 10px 15px  !important;
        height: 90px;
        #navList{
            ul{
                margin-bottom: 0px !important;
            }
        }
    }
    #mdNav{
        right: 85px !important;
        top: 75px !important;
    }
    #landingLeft{
        padding: 0 !important;
        div{
            margin-top: 130px !important;
        }
    }
    #socialBar{
        left: -8px !important;
        bottom: 120px !important;
    }
    #landingRight{
        width: 85% !important;
        top: 18px !important;
        padding: 0 !important;
    }
    #imgSubContainer{
        width: 95%;
        margin-left: 0px !important;
    }
    .hero-img{
        width: 100% !important;
        height: 605px !important;
    }
    #pagination{
        right: 10px !important;
    }
}

@media screen and (max-width:375px){
    #landingLeft{
        #caption{
            left: -25px !important;
        }
        #description{
            top: 63vh;
        }
    }
    #landingRight{
        top: 0px !important;
    }
    .hero-img{
        height: 530px !important;
    }
    #pagination {
        right: 5px !important;
    }
    #imgSubContainer{
        width: 100% !important;
    }
    #mdNav{
        right: 90px !important;
    }
}
// @media screen and (max-width:360px) and (min-height:760px){
//     #socialBar {
//         bottom: 110px !important;
//     }

// }
@media screen and (max-width:320px){
    #socialBar{
        bottom: -25px !important;
    }
    #landingLeft #description {
        top: 75vh;
    }
    #landingRight {
        top: 95px !important;
    }
}