@media screen and (max-width:1200px){
    
}
@media screen and (max-width:992px){
    #landingLeft{
        height: 100vh;
    }
    #landingRight{
        position: absolute;
        z-index: 0;
        bottom: 30px;
    }
    #imgSubContainer{
        text-align: end !important;
        position: relative;
        width: 85%;
        margin-left: 40px;
    }
    .hero-img{
        width: 85% !important;
        height: 715px !important;
        z-index: 0;
    }
}
@media screen and (max-width:768px){
    #mdNav{
        display: block !important;
    }
    #landingLeft{
        #caption{
            position: absolute;
            z-index: 3;
        }
        #description{
            position: absolute;
            top: 50vh !important;
            z-index: 3;
            background-color: rgba(white, 0.5);
            padding: 5px 10px !important;
        }
    }
    #landingRight{
        width: 96% !important;
    }
    .lg-nav{
        display: none !important;
    }
    .md-nav{
        display: block !important;
        div{
            position: relative;
            border-top: 2px solid rgba(0, 0, 0, 0.5);
            width: 22px;
            height: 9px;
            margin-top: 6px;
            transition: 1s;
            &::before{
                content: "";
                width: 22px;
                top: -9px;
                position: absolute;
                border-top: 2px solid rgba(0, 0, 0, 0.5);
                transition: 0.5s;
            }
            &::after{
                content: "";
                width: 22px;
                bottom: 0;
                position: absolute;
                border-top: 2px solid rgba(0, 0, 0, 0.5);
                transition: 0.5s;
            }
        }
        .close{
            border-top: none;
            transition: 1s;
            &::before{
                content: "";
                width: 25px;
                top: -1px;
                transform: rotate(40deg);
                transition: 0.5s;
            }
            &::after{
                content: "";
                width: 25px;
                bottom: 8px;
                transform: rotate(-40deg);
                transition: 0.5s;
            }
        }
    }
    #mdNav{
        position: absolute;
        top: 90px;
        right: 133px;
        background-color:white;
        transition: all 0.8s ease;
        border-radius: 2px;
        z-index: -1;
        ul{
            padding: 0;
            margin-bottom: 0 !important;
            text-align: center !important;
            list-style-type: none !important;
            display: block !important;
            #hLine{
                margin: auto;
                width: 80%;
                border-top: 0.1px solid rgba(black,0.3);
            }
        }
        
    }
    #downArrow{
        right: 83px !important;
        top: 100px !important;
    }
    .challenge-fact{
        flex-direction: column-reverse;
        text-align: center;
    }
    .skills-caption{
        width: 65%;
    }
    .challenge-img{
        width: 80% !important;
        margin-top: 10px;
        margin-bottom: 20px;
    }
    #challengeLeft{
        h2{
            text-align: center !important;
        }
    }
    #challengeRight{
        margin-top:30px ;
        #caption{
            margin-left: 108px !important;
        }
        .shoe-img{
            top: 122px !important;
            right: 18px !important;
            width: 80% !important;
        }
        #missionCard{
            bottom: -520px !important;
        }
    }
    #resultPage{
        margin-top: 35vh;
        #resultCaption{
            // top: 330px !important;

        }
        #resultArrow{
            left: 0px !important;
        }
    }
    #resultPageLeft{
        text-align: center;
    }
    #resultPageRight{
        margin-top: 50px;
    }
}
@media screen and (max-width:576px){
    #landingLeft{
        #caption{
            left: -25px !important;
        }
        #description{
            margin-left: 75px !important;
            top: 55vh !important;
        }
    }
    #logo{
        width: 25% !important;
    }
    #navList ul li {
        padding: 20px 15px !important;
    }
    #navBar{
        padding: 10px 0px 10px 15px  !important;
        height: 90px;
        #navList{
            ul{
                margin-bottom: 0px !important;
            }
        }
    }
    #mdNav{
        right: 85px !important;
        top: 75px !important;
    }
    #landingLeft{
        padding: 0 !important;
        div{
            margin-top: 130px !important;
        }
    }
    #socialBar{
        left: -8px !important;
        bottom: 120px !important;
        color: $bg-color;
    }
    #landingRight{
        width: 85% !important;
        top: 18px !important;
        padding: 0 !important;
    }
    #imgSubContainer{
        width: 95%;
        margin-left: 0px !important;
    }
    .hero-img{
        width: 100% !important;
        height: 605px !important;
    }
    .pageSwitch-animation-inverse{
        visibility: hidden;
        height: 0;
        opacity: 0;
        -webkit-transform: translateY(-50px);
        transform: translateY(-50px);
    }
    .pageSwitch-animation{
        visibility: visible;
        height: auto;
        display: block;
        opacity: 1;
        -webkit-transform: translateY(6px);
        transform: translateY(6px);
    }
    #pagination{
        z-index: 500;
        #pageSwitch{
            display: block !important;
            background-color: white;
            padding: 10px;
            border-top-left-radius: 35%;
            border-bottom-left-radius: 35%;
            position: absolute;
            right: -5px;
            width: 40px;
            top: -22px;
            #bulb{
                width: 10px;
                height: 10px;
                border-radius: 50%;
                border: 1px solid $primary-color;
                transition: 0.5s;
            }
            .bulb-light{
                width: 20px !important;
                height: 20px !important;
                border-radius: 50%;
                background-color: $primary-color !important;
                border: none;
            }
            
        }
        #pageNumbers{
            transition: 0.5s;
        }
        right: 10px !important;
    }
    #challengePage{
        padding: 0 !important;
        .mt-2{
            margin-top: 0rem !important;
        }
    }
    #challengeLeft{
        h2{
            margin-left: 0px !important;
            font-size: 40px !important;
            text-align: center !important;
        }
        .challenge-fact{
            margin-left: 0px !important;
        }
        .skills-caption{
            width: 100% !important;
        }
        .challenge-img{
            width: 100% !important;
        }
    }
    #challengeRight{
        #caption{
            margin-left: 0px !important;
            h1{
                font-size: 155px !important;
            }
        }
        .shoe-img{
            width: 100% !important;
            right: 0 !important;
        }
        #missionCard{
            width: 100% !important;
            bottom: -420px !important;
            left: 0 !important;
        }
    }
    #resultPage{
        margin-top: 33vh;
        padding: 0;
        .sub-resultPage{
            padding: 0;
        }
        
        #resultCaption{
            left: 0px !important;
            display: none !important;
        }
        #resultArrow{
            left: 0 !important;
            width: 30% !important;
            bottom: -73px !important;
        }
        #resultPageLeft{
            text-align: center;
        }
        #resultPageRight{
            margin-top: 20px;
        }
    }
    
}

@media screen and (max-width:375px){
    #landingLeft{
        #caption{
            left: -25px !important;
        }
        #description{
            top: 63vh;
        }
    }
    #landingRight{
        top: 0px !important;
    }
    .hero-img{
        height: 530px !important;
    }
    #pagination {
        right: 5px !important;
    }
    #imgSubContainer{
        width: 100% !important;
    }
    #mdNav{
        right: 90px !important;
    }
    #challengeRight{
        #caption{
            h1{
                font-size: 140px !important;
            }
        }
        #missionCard{
            bottom: -445px !important;
        }
    }
    #resultPage{
        margin-top: 40vh;
    }
}
@media screen and (max-width:320px){
    #socialBar{
        bottom: -25px !important;
    }
    #landingLeft #description {
        top: 75vh;
    }
    #landingRight {
        top: 95px !important;
    }
    #challengePage{
        padding: 0 !important;
        .mt-2{
            margin-top: 4.5rem !important;
        }
        #challengeLeft{
            h2{
                font-size: 45px !important;
            }
        }
        #challengeRight{
            #caption{
                h1{
                    font-size: 120px !important;
                }
            }
            #missionCard {
                bottom: -465px !important;
            }
        }
    }
}