$bg-color:#EDF0F2;
$primary-color:#E4003B;

@font-face {
    font-family: Teko;
    src: url(../fonts/Teko-Regular.ttf);
}
@font-face{
    font-family: TTLakes;
    src: url(../fonts/TTLakes.otf);
}
@font-face{
    font-family: Adevale;
    src: url(../fonts/Adevale.ttf);
}
.red{
    color: $primary-color;
}