@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

$my-primary-color:#54b192;
$my-light-color:#38d39f;
$my-dark-color:#3f3d56;
$my-xl-dark-color:#363636;

@mixin my-dflex-auto {
    display: flex;
    justify-content: center;
    align-items: center;
}

.my-heading-font{
    font-family: 'Roboto', sans-serif;
}

.my-dark-color{
    color: $my-dark-color !important;
}
// font-family: 'Roboto', sans-serif;
// font-family: 'Open Sans', sans-serif;